__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
build/
dist/
*.egg-info/
.codex
RESUME
.venv/
debian/.debhelper/
debian/debhelper-build-stamp
debian/files
debian/tmp/
debian/*.debhelper
debian/*.substvars
debian/cerberus/
debian/cerberus/
README-deb.txt
